<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Шахматные партии{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark mb-4 pt-2 pb-4">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
            <img src="/static/images/logo.svg" alt="Logo" width="25" height="55">
            <span class="brand-title">Шахматные партии</span>
        </span>
        <div class="d-flex gap-3 align-items-center">
            <span class="badge bg-secondary" id="userName"></span>
            <a href="#" id="logoutBtn" class="text-black" title="Выйти">
                <i class="bi bi-box-arrow-right" style="font-size: 20px;"></i>
            </a>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/common.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
